<main>
  <div class="main-wrapper">
    <picture class="scarecrow-img">
      <img
        src="https://raw.githubusercontent.com/nat-oku/devchallenges/main/Scarecrow.png"
        alt="scarecrow"
      />
    </picture>
    <div class="error-text">
      <h2>404 Página no encontrada</h2>
      <p>
        La página que estas buscando quizas fue removida o esta temporalmente
        fuera de servicio.
      </p>
      <span class="input-group-btn">
        <button class="btn" type="button">Regresar</button>
      </span>
    </div>
  </div>
</main>
