<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title
        ><img
          mat-card-sm-image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Movies_%26_TV_films_2016.svg/500px-Movies_%26_TV_films_2016.svg.png"
          alt="logo"
      /></mat-card-title>
    </mat-card-header>
    <form
      class="public-form"
      name="form"
      (ngSubmit)="handleSignIn()"
      #login="ngForm"
    >
      <mat-card-content>
        <mat-form-field class="public-form-full-width">
          <input
            matInput
            placeholder="Usuario"
            name="email"
            [(ngModel)]="formSignIn.email"
            #email="ngModel"
          />
        </mat-form-field>
        <mat-form-field class="public-form-full-width">
          <input
            matInput
            placeholder="Contraseña"
            name="password"
            type="password"
            [(ngModel)]="formSignIn.password"
            #email="ngModel"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <button mat-raised-button color="primary" class="btn-block">
          <mat-icon>login</mat-icon> Ingresar
        </button>
      </mat-card-content>
    </form>
    <mat-card-content>
      <a
        mat-raised-button
        color="accent"
        class="btn-block"
        routerLink="/register"
      >
        <mat-icon>person_add</mat-icon> Registrar
      </a>
    </mat-card-content>
  </mat-card>
</div>
